@CHARSET "UTF-8";


body {
	font-size: 0.5cm;
	font-family: sans-serif;
	transition: all 1s;
	margin: 0;
	padding: 0;]
}


h1 {
	text-align: center;
	margin: 0.4em;
}

body.status.unknown .background,body.status.deleted  .background {
	background-color: #CCCCCC;
}

body.status.done  .background{
	background-color: #CCFFCC;
	
}
body.status.building  .background{
	background-color: #CCCCFF;
}
body.status.queued  .background{
	background-color: #FFFFCC;	
}
body.status.error  .background{
	background-color: #FFCCCC;	
}

body > div.background {
	height: 100vh;
	padding: 0.2em;
	box-sizing: border-box;
}

dh-overview {
	display: table;
	width: 100%;
	box-sizing: border-box;	
}

dh-overview dh-row {
	display: table-row;
}
dh-overview dh-caption,dh-overview dh-field {
	display: table-cell;
	padding: 0.2em;
	max-width: 0;
}
dh-overview dh-field {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:50%;
	text-align: left;
}

dh-overview dh-caption {
	width:50%;
	text-align: right;
	font-weight: bold;
}

dh-controlbox {
	
}

dh-controlbox button {
	display:block;
	margin: 1em auto 1em auto;	
}

dh-controlbox {
	display: block;
	text-align: center;
	box-sizing: border-box;
	max-height: 0;
	overflow: hidden;
	margin-top: 0;
	transition: all 1s;
	opacity: 0;
	position:relative;
	max-width: 30em;
	margin: 0 auto 0 auto;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em 1em black;
}

body.status.building dh-controlbox.when_building,
body.status.done dh-controlbox.when_done,
body.status.error dh-controlbox.when_error,
body.status.queued dh-controlbox.when_queued,
body.status.unknown dh-controlbox.when_unknown,
body.status.deleted dh-controlbox.when_delete {
	max-height: 10em;
	margin-top: 1em;
	opacity: 1; 
}
button.when {
	width:0;
	transition: all 1s;
	overflow-y: hidden;
	opacity: 0;
	margin-left:auto;
	margin-right: auto;
	font-size: 0;
	white-space: nowrap;
	overflow-x: hidden;
	height: 2em;
}

dh-status {
	display: block;
	font-size: 1.5cm;
	font-style: italic;
	font-weight: bold;
	opacity: 0.3;
}

dh-lightbox {
	display:block;
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color: black;
	opacity: 0.2;
}

body.status.building button.when.building,
body.status.done button.when.done,
body.status.error button.when.error,
body.status.queued button.when.qeued,
body.status.unknown button.when.unknown,
body.status.deleted button.when.deleted {
	width: 10em;
	opacity: 100;
	font-size: 1em;
}

dh-bottompanel {
	display:block;
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	text-align: center;
	padding-top: 0.3em;
	box-sizing: border-box;
	box-shadow: 0 0 1em rgb(0,0,0,0.5);
	background: linear-gradient(to bottom, #c3b3b3 0%,#bba1a1 43%,#9a8476 87%);
}

dh-anchor {
	display:inline-block;
	width: 0;
	position:relative;
	vertical-align: top;
	height: 1em;
}

dh-controlbox dh-progress {
	margin-top: 1rem;
	margin-bottom: 1rem;
}